In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sidetable # si nos da un error este comando es por no tenerlo instalado
from datetime import date, datetime
from scipy import stats
from sklearn.preprocessing import StandardScaler
pd.options.display.max_columns=None
# establecer el tamaño de nuestras figuras
plt.rcParams["figure.figsize"] = (10,8)

In [3]:
df = pd.read_csv('data/bikes_registrados.csv', index_col=0)

In [4]:
df.head(2)

,registro,clima,temperatura,sens_termica,humedad,viento,registrados,fecha_nueva,festividad,festividad_1,año_bueno,estacion_correcta,mes_bueno,dia_semana_nuevo,no_laboral_nuevo
0,1,2,14.1,18.2,81.0,10.7,654,2018-01-01,New Year's Day,1,2018,invierno,1,0,0
1,2,2,14.9,17.7,70.0,16.7,670,2018-01-02,NaN,0,2018,invierno,1,1,1

In [5]:
#codificamos la columna año_bueno.
año_map={2018:0,2019:1}
df['año_map']=df['año_bueno'].map(año_map)
df.drop(['año_bueno'],axis=1,inplace=True)
df.sample(5)

,registro,clima,temperatura,sens_termica,humedad,viento,registrados,fecha_nueva,festividad,festividad_1,estacion_correcta,mes_bueno,dia_semana_nuevo,no_laboral_nuevo,año_map
383,384,1,7.8,9.5,50.0,14.8,3162,2019-01-19,NaN,0,invierno,1,5,0,1
250,251,3,26.0,27.8,94.0,12.9,1689,2018-09-08,NaN,0,verano,9,5,0,0
76,77,1,22.1,26.4,53.0,15.5,2355,2018-03-18,NaN,0,invierno,3,6,0,0
503,504,1,24.6,28.3,46.0,5.6,4884,2019-05-19,NaN,0,primavera,5,6,0,1
511,512,1,28.3,32.1,70.0,14.4,3308,2019-05-27,Memorial Day,1,primavera,5,0,0,1

In [6]:
#Codificamos la columna estacion_correcta.
estacion_map={'invierno':0,'primavera':1,'otoño':2,'verano':3}
df['estacion_map']=df['estacion_correcta'].map(estacion_map)
df.drop(['estacion_correcta'],axis=1,inplace=True)
df.sample(5)

,registro,clima,temperatura,sens_termica,humedad,viento,registrados,fecha_nueva,festividad,festividad_1,mes_bueno,dia_semana_nuevo,no_laboral_nuevo,año_map,estacion_map
132,133,2,21.0,24.7,86.0,12.0,3413,2018-05-13,NaN,0,5,6,0,0,1
284,285,3,22.3,25.9,91.0,16.6,2199,2018-10-12,NaN,0,10,4,1,0,2
55,56,2,14.9,17.5,71.0,23.2,1341,2018-02-25,NaN,0,2,6,0,0,0
387,388,2,9.0,12.2,91.0,7.4,2287,2019-01-23,NaN,0,1,2,1,1,0
374,375,1,12.7,15.9,65.0,12.6,3425,2019-01-10,NaN,0,1,3,1,1,0

In [7]:
df.to_csv('data/bikes_regis_encod.csv')