In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sidetable # si nos da un error este comando es por no tenerlo instalado
from datetime import date, datetime
from scipy import stats
from sklearn.preprocessing import StandardScaler
pd.options.display.max_columns=None
# establecer el tamaño de nuestras figuras
plt.rcParams["figure.figsize"] = (10,8)

In [2]:
df = pd.read_csv("data/ocasionales2.csv", index_col = 0)
df.head(2)

,registro,clima,temperatura,sens_termica,humedad,viento,ocasionales,fecha_nueva,festividad,festividad_1,año_bueno,estacion_correcta,mes_bueno,dia_semana_nuevo,no_laboral_nuevo,ocasionales_BOX
0,1,2,14.1,18.2,81.0,10.7,331,2018-01-01,New Year's Day,1,2018,invierno,1,0,0,16.397820
1,2,2,14.9,17.7,70.0,16.7,131,2018-01-02,NaN,0,2018,invierno,1,1,1,11.472437

In [4]:
#codificamos la columna año_bueno.
año_map={2018:0,2019:1}
df['año_map']=df['año_bueno'].map(año_map)
df.drop(['año_bueno'],axis=1,inplace=True)
df.sample(5)

,registro,clima,temperatura,sens_termica,humedad,viento,ocasionales,fecha_nueva,festividad,festividad_1,estacion_correcta,mes_bueno,dia_semana_nuevo,no_laboral_nuevo,ocasionales_BOX,año_map
158,159,1,31.8,36.4,62.0,9.2,676,2018-06-08,NaN,0,primavera,6,4,1,21.293117,0
680,681,1,19.9,23.8,74.0,11.6,1097,2019-11-12,NaN,0,otoño,11,1,1,25.290323,1
413,414,1,14.2,17.8,53.0,12.8,1435,2019-02-18,Washington's Birthday,1,invierno,2,0,0,27.782697,1
156,157,1,27.8,31.1,60.0,8.2,673,2018-06-06,NaN,0,primavera,6,2,1,21.259124,0
320,321,2,14.0,16.2,58.0,20.5,139,2018-11-17,NaN,0,otoño,11,5,0,11.746562,0

In [5]:
#Codificamos la columna estacion_correcta.
estacion_map={'invierno':0,'primavera':1,'otoño':2,'verano':3}
df['estacion_map']=df['estacion_correcta'].map(estacion_map)
df.drop(['estacion_correcta'],axis=1,inplace=True)
df.sample(5)

,registro,clima,temperatura,sens_termica,humedad,viento,ocasionales,fecha_nueva,festividad,festividad_1,mes_bueno,dia_semana_nuevo,no_laboral_nuevo,ocasionales_BOX,año_map,estacion_map
467,468,1,18.1,21.6,41.0,10.4,1252,2019-04-13,NaN,0,4,5,0,26.490638,1,1
357,358,1,12.4,15.0,54.0,12.8,155,2018-12-24,NaN,0,12,0,1,12.263833,0,0
28,29,1,8.1,10.6,65.0,9.7,123,2018-01-29,NaN,0,1,0,1,11.186542,0,0
42,43,1,9.1,11.6,54.0,13.6,288,2018-02-12,NaN,0,2,0,1,15.564461,0,0
227,228,1,28.7,32.3,58.0,15.8,721,2018-08-16,NaN,0,8,3,1,21.790993,0,3

In [6]:
df.to_csv('data/ocasionales_encod.csv')